.navbar {
    display: flex;
    justify-content: space-between; /* Spread out the content */
    align-items: center; /* Align items vertically */
    background: #29335C;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
 
  /* Links and Button Wrapper */
.nav-content {
  display: flex;
  align-items: center; /* Align links and button vertically */
  justify-content: flex-end; /* Push links and button to the right */
  flex: 1; /* Take remaining space after logo */
}

  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px; /* Space between links */
    margin: 0;
    padding: 0;
    flex: 1; /* Push the Log In button to the far right */
    justify-content: center; /* Center the links */
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  .nav-links a:hover {
    color: #ffc107; /* Change color on hover */
  }
  
  .login-btn {
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 20px; /* Add space between links and button */
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #2a468c; /* Change to a red color on hover */
  }

  .signup-btn {
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: 20px; /* Add space between links and button */
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #2a468c; /* Change to a red color on hover */
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .logo img {
    width: 40px; /* Set a specific width */
    height: 40px; /* Set a specific height, should be equal to width for a perfect circle */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensures the image covers the container without distorting */
    margin-right: 10px; /* Space between logo and text */
  }
  
  .logo span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .hamburger-menu {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #2a2a72;
      padding: 10px;
    }
  
    .nav-links.mobile {
      display: flex;
    }
  
    .hamburger-menu {
      display: block;
    }
  }