/* Page Container */
.book-appointment-page {
    display: flex;
    flex-direction: column;
    align-items: center;        /* Center horizontally */
    background-color: #f9f9f9; /* Background color for the page */
    padding: 20px;
    box-sizing: border-box;     /* Include padding in the height calculation */
  }

  /* Header Styling */
  .book-appointment-header {
    background-color: #2a2a72;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
  .appointment-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #2a2a72;
  }
  
  .book-appointment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 20px;
  }


  /* Form Container */
  .appointment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px; /* Set a max width for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;  
    background-color: #2a2a72;
  }

  ::placeholder {
    color: white;
  }
  
  /* Form Group Styling */
  
  textarea {
    width: 90%;
  }

  select,
  input,
  textarea {
    padding: 10px;
    width: 29vh;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2a2a72;
    color: white
  }
  
  .save-button {
    background-color: #2a2a72;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
  
  .save-button:hover {
    background-color: #4f6ef5;
  }
  
  .calendar-section {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  
  .calendar-section h3 {
    margin-bottom: 10px;
    color: white;
  }

  .calendar-section p{
    color: white;
  }
  
  .react-calendar {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  

  @media (max-width: 450px) {
    .book-appointment-page {
      display: flex;
    }
    
    .booking-appointment-container {
      align-items: center;
      gap: 20px;
    }
  
    .appointment-form,
    .calendar-section {
      display: flex;
      width: 100%; /* Make both sections take full width */
      max-width: 100%;  
      flex-direction: column; /* Stack elements vertically */
      
    }
  }
