/* Hero Section */
.contact-hero {
    height: 30vh;
    background-image: url("../assets/guineapig.jpg"); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden; 
    border-radius: 15px;
  }
  
  .contact-hero-text h1 {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Contact Form */
  .contact-form-container {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
  }
  
  .contact-form {
    background: #2a2a72;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }

  label {
    display: block;
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #f0f0f0;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .submit-button {
    background: #3b5998;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }