.footer {
  background-color: #29335C;
  color: white;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.social-media {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
  gap: 25px; /* Space between the icons */
  margin-bottom: 0px;
}

.social-icon {
  width: 40px;
  height: 40px;
  object-fit: contain; /* Ensure the icons fit without distortion */
  transition: transform 0.3s ease; /* Add a hover effect */
}

.social-icon:hover {
  transform: scale(1.2); /* Enlarge the icons slightly on hover */
}