.booking-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  background-color: #2a2a72;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.booking-cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1; /* Span the button across all columns */
  margin-top: 20px; /* Add spacing above the button */
}
  
  /* Individual Booking Card */
.booking-card h2,
.booking-card h3,
.booking-card p {
  margin: 0;          /* Remove default margins */
  padding: 1px;     /* Add consistent padding */
}
  
.booking-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4f6ef5;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: auto;
}


.booking-card h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.booking-card p {
  margin: 5px 0;
  font-size: 1em;
}


.book-now-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Booking Card Buttons */
.booking-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

  @media (max-width: 450px) {
    .dashboard-header {
      font-size: 1.2rem;
      padding: 10px;
      margin-bottom: 20px;
    }
    
    .booking-card {
      height: auto;
      font-size: 1rem;
    }

    .booking-cards {
      gap: 10px;
      padding: 10%;
    }

    .dashboard-bookings h2 {
      display: grid;
    }

  }
