/* Hero Section */
.services-hero {
    height: 30vh;
    background-image: url('../assets/dogbackground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden; 
    border-radius: 15px;
  }
  
  .services-hero-text h1 {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    
  }
  
  /* Services Details */
  .services-details {
    display: flex;
    justify-content: space-around; /* Distribute services evenly */
    align-items: flex-start;       /* Align items at the top */
    flex-wrap: wrap;               /* Allow wrapping for responsiveness */
    margin-top: 5vh;
  }
  
  .services-content {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 150px;
    margin: 20px;
    padding: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .services-content:hover {
    transform: translateY(-5px);
    background-color: aqua;
  }
  

  .services-pricing {
    font-size: 18px;
    margin: 5px 0;
  }

  .services-description {
    font-size: 14px;
    color: #555;
    transition: opacity 0.3s ease;
  }

  .service-image {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .cta-section {
    text-align: center;
    padding: 30px;
    color: white;
  }
  
  .cta-button {
    background-color: #ffc107;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #2a2a72;
  }