/* Form Container */
.sign-up-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 80vh; 
  }
  
  .sign-up-form-container {
    background: #2a2a72;
    border-radius: 10px;
    padding: 30px 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .form-subtitle {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .form-subtitle a {
    color: #ffc107;
    text-decoration: none;
  }
  
  .form-subtitle a:hover {
    text-decoration: underline;
  }
  
  .sign-up-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    color: white;
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #f0f0f0;
  }
  
  .submit-button {
    background: #ffc107;
    color: #2a2a72;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }

  @media (max-width: 500px) {
    .sign-up-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .sign-up-form-container {
      width: 300px;
    }
  }